%h3 
  = @group.name
(
= @group.members.count
members)
%ol
  = render @group.members

%h3 Events
%ol
  - if @group.events.any?
    = render @group.events
  - else
    There are no events in this group
